<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Madrigal</title>

    <link rel="shortcut icon" href="images/favicon.ico" />

    <link rel="stylesheet" href="vendor/wow/animate.min.css">
    <link rel="stylesheet" href="vendor/owl-slider/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl-slider/owl.theme.css">
    <link rel="stylesheet" href="vendor/reveal/reveal.css">

    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header class="principal-menu">
        <div class="limiter-container">
            <div class="line-box">
                <div class="line logo">
                    <a href="index.html"></a>
                </div>
                <nav class="line nav">
                    <ul class="line-box">
                        <li class="line item-1">
                            <a href="project.html" style="">
                                <span><img src="images/icon-project.svg" alt="Proyecto" class="to-svg"></span>
                                <br> PROYECTO
                            </a>
                        </li>
                        <li class="line item-2 active-link-2">
                            <a href="apartament.html">
                                <span><img src="images/icon-apartament.svg" alt="Planos" class="to-svg"></span>
                                <br> APARTAMENTOS
                            </a>
                        </li>
                        <li class="line item-3">
                            <a href="local.html">
                                <span><img src="images/icon-local.svg" alt="Planos" class="to-svg"></span>
                                <br> LOCALES
                            </a>
                        </li>
                        <li class="line item-4">
                            <a href="video.html">
                                <span><img src="images/icon-video.svg" alt="Video" class="to-svg"></span>
                                <br> VIDEO
                            </a>
                        </li>
                        <li class="line item-5">
                            <a href="brochure.html">
                                <span><img src="images/icon-brochure.svg" alt="Brochure" class="to-svg"></span>
                                <br> BROCHURE
                            </a>
                        </li>
                        <li class="line item-6">
                            <a href="contact.html">
                                <span><img src="images/icon-contact.svg" alt="Contacto" class="to-svg"></span>
                                <br> CONTACTO
                            </a>
                        </li>
                        <li class="line social">
                            <a href="#" target="_blank" class="face-ico">
                                <img src="images/icon-facebook.svg" alt="Facebok" class="to-svg">
                            </a>
                        </li>
                        <li class="line social">
                            <a href="#" target="_blank" class="youtube-ico">
                                <img src="images/icon-youtube.svg" alt="Pinterest" class="to-svg">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <span class="menu-bars">
			<span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
        </span>
    </header>

    <section class="content" style="margin-top: 140px;">
        <div class="limiter-container content-project">
            <div class="items">
                <div class="item wow fadeInUp">
                    <p style="color: #575D29;"><strong>Apartamentos</strong></p>
                </div>
            </div>
        </div>
        <div class="options-apar">
            <div class="column-opt-1">
                <ul>
                    <li class="opt-proy wow fadeInLeft"><span><img class="item-space" src="images/item.png" alt="Item"></span>Salón comedor vinculado con cocina tipo americano.</li>
                    <li class="opt-proy wow fadeInLeft"><span><img class="item-space" src="images/item.png" alt="Item"></span>Calentador de paso a gas.</li>
                    <li class="opt-proy wow fadeInLeft"><span><img class="item-space" src="images/item.png" alt="Item"></span>Apartamentos con <b>1, 2 y 3 habitaciones cada una con closet.</b></li>
                    <li class="opt-proy wow fadeInLeft"><span><img class="item-space" src="images/item.png" alt="Item"></span>Entre <b>1 y 2 baños</b></li>
                    <li class="opt-proy wow fadeInLeft"><span><img class="item-space" src="images/item.png" alt="Item"></span>Zona de lavandería con punto para torre de lavadora, secadora y lavadero.</li>
                    <li class="opt-proy wow fadeInLeft"><span><img class="item-space" src="images/item.png" alt="Item"></span>Acabados <b>estrato 4</b></li>
                    <li class="opt-proy wow fadeInLeft"><span><img class="item-space" src="images/item.png" alt="Item"></span>Altura promedio <b>2.40 mts</b></li>
                    <li class="opt-proy wow fadeInLeft"><span><img class="item-space" src="images/item.png" alt="Item"></span><b>Todos los apartamentos tienen balcón y son exteriores.</b></li>
                </ul>
            </div>
        </div>
        <div id="myModal1" class="reveal-modal">
            <div class="content-text-reveal">
                <h1 class="title-reveal">
                   Área Tipo 3
                    <p>
                    4 unidades disponibles
                    </p>
                </h1>
                <div class="image-reveal"><img src="images/drawings/350x350/piso-1.png" alt=""></div>
                <div class="options-proy">
                    <div class="column-opt-reveal">
                        <ul>
                            <li class="opt-proy-reveal"><span><img src="images/item.png" alt="Item"></span> Área construida <b>82.93 m<sup>2</sup></b> y privada <b>76.78 m<sup>2</sup></b></li>
                            <li class="opt-proy-reveal"><span><img src="images/item.png" alt="Item"></span> Consta de salón comedor vinculado con
                                <br> cocina tipo americano y balcón</li>
                            <li class="opt-proy-reveal"><span><img src="images/item.png" alt="Item"></span> Baño social</li>
                        </ul>
                    </div>
                    <div class="column-opt-reveal-2">
                        <ul>
                            <li class="opt-proy-reveal"><span><img src="images/item.png" alt="Item"></span> Zona de lavandería con punto para
                                <br> torre de lavadora y secadora y lavadero</li>
                            <li class="opt-proy-reveal"><span><img src="images/item.png" alt="Item"></span> 3 habitaciónes con closet</li>
                            <li class="opt-proy-reveal"><span><img src="images/item.png" alt="Item"></span> Habitación principal con baño privado</li>
                        </ul>
                    </div>
                </div>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <div class="content-drawings">
            <div class="limiter-container">
                <div class="grid">
                    <article class="panel">
                        <h1 class="">Área <b>Tipo 1</b></h1>
                        <div class=" image" data-resizing="1/1">
                            <div class="grises">
                                <img src="images/drawings/350x350/piso-1.png" alt="">
                            </div>
                            <a class="button-ver" href="#" data-reveal-id="myModal1">
                                <p><span><b>+</b></span> Ver más</p>
                            </a>
                        </div>
                    </article>
                    <article class="panel">
                        <h1 class=" ">Área <b>Tipo 2</b></h1>
                        <div class="image" data-resizing="1/1">
                            <div class="grises">
                                <img src="images/drawings/350x350/piso-1.png" alt="">
                            </div>
                            <a class="button-ver" href="#" data-reveal-id="myModal1">
                                <p><span><b>+</b></span> Ver más</p>
                            </a>
                        </div>
                    </article>
                    <article class="panel">
                        <h1 class=" ">Área <b>Tipo 3</b></h1>
                        <div class="image" data-resizing="1/1">
                            <div class="grises">
                                <img src="images/drawings/350x350/piso-1.png" alt="">
                            </div>
                            <a class="button-ver" href="#" data-reveal-id="myModal1">
                                <p><span><b>+</b></span> Ver más</p>
                            </a>
                        </div>
                    </article>
                    <article class="panel">
                        <h1 class=" ">Área <b>Tipo 4</b></h1>
                        <div class="image" data-resizing="1/1">
                            <div class="grises">
                                <img src="images/drawings/350x350/piso-1.png" alt="">
                            </div>
                            <a class="button-ver" href="#" data-reveal-id="myModal1">
                                <p><span><b>+</b></span> Ver más</p>
                            </a>
                        </div>
                    </article>
                    <article class="panel">
                        <h1 class=" ">Área <b>Tipo 5</b></h1>
                        <div class="image" data-resizing="1/1">
                            <div class="grises">
                                <img src="images/drawings/350x350/piso-1.png" alt="">
                            </div>
                            <a class="button-ver" href="#" data-reveal-id="myModal1">
                                <p><span><b>+</b></span> Ver más</p>
                            </a>
                        </div>
                    </article>
                    <article class="panel">
                        <h1 class=" ">Área <b>Tipo 6</b></h1>
                        <div class="image" data-resizing="1/1">
                            <div class="grises">
                                <img src="images/drawings/350x350/piso-1.png" alt="">
                            </div>
                            <a class="button-ver" href="#" data-reveal-id="myModal1">
                                <p><span><b>+</b></span> Ver más</p>
                            </a>
                        </div>
                    </article>
                    <article class="panel">
                        <h1 class=" ">Área <b>Tipo 7</b></h1>
                        <div class="image" data-resizing="1/1">
                            <div class="grises">
                                <img src="images/drawings/350x350/piso-1.png" alt="">
                            </div>
                            <a class="button-ver" href="#" data-reveal-id="myModal1">
                                <p><span><b>+</b></span> Ver más</p>
                            </a>
                        </div>
                    </article>
                    <article class="panel">
                        <h1 class=" ">Área <b>Tipo 8</b></h1>
                        <div class="image" data-resizing="1/1">
                            <div class="grises">
                                <img src="images/drawings/350x350/piso-1.png" alt="">
                            </div>
                            <a class="button-ver" href="#" data-reveal-id="myModal1">
                                <p><span><b>+</b></span> Ver más</p>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="target-map">
            <p class="text-target">
                <span class="text-tg1">Conjunto resindecial</span>
                <span class="text-tg2">El Madrigal</span>
                <span class="text-tg3">Cra. 3 No. 11 - 05</span>
                <span class="text-tg4">La Vega - Cundinamarca</span>
            </p>
        </div>
        <div id="map" class="map">

        </div>
    </section>

    <footer class="principal-footer">
        <div class="line-box box-footer">
            <section class="line contact-area">
                <header>
                    <div class="limiter-container">
                        <h1 class="text-pink">
							<span><img src="images/icon-contact-fo.svg" alt="Contacto" class="to-svg"></span>
							CONTACTO
						</h1>
                    </div>
                </header>
                <div class="info-contact">
                    <div class="limiter-container">
                        <h3 class="text-pink">Teléfonos</h3>
                        <div class="line-box">
                            <div class="line">
                                <strong>Celular:</strong>
                                <p>310 5550230</p>
                                <p>311 5191359</p>
                            </div>
                            <div class="line">
                                <strong>Fijo:</strong>
                                <p>621 6036</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-contact">
                    <div class="limiter-container">
                        <h3 class="text-pink" style="margin-bottom: 0px;">Correo electrónico:</h3>
                        <p>comercial@alcazarﬁncaraiz.com</p>
                    </div>
                </div>
                <div class="line social icon-footer">
                    <a href="#" target="_blank">
                        <img class="icon-foo" src="images/icon-facebook-fo.svg" alt="Facebok" class="to-svg">
                    </a>
                    <a href="#" target="_blank">
                        <img class="icon-foo" src="images/icon-youtube-fo.svg" alt="Pinterest" class="to-svg">
                    </a>
                </div>
            </section>
            <section class="line contact-colaborations">
                <div class="limiter-container">
                    <div>
                        <p class="line-pink">Ventas: <b>Av. 19 No. 97 - 31 oficina 501</b></p>
                    </div>
                    <div class="line-box" style="margin-top: 50px;">
                        <aside class="line">
                            <h4>Construye</h4>
                            <div class="logo">
                                <img src="images/logo.png" alt="Vihara">
                            </div>
                        </aside>
                        <aside class="line">
                            <h4>Comercializa</h4>
                            <div class="logo"></div>
                            <div class="logo">
                                <img src="images/logo-alcazar.png" alt="Alcázar">
                            </div>
                        </aside>
                        <aside class="line">
                            <h4>Supervisa</h4>
                            <div class="logo"></div>
                            <div class="logo">
                                <img src="images/logo-alianza.png" alt="Alianza">
                            </div>
                        </aside>
                    </div>
                </div>
            </section>
        </div>
    </footer>

    <script src="vendor/jquery-1.11.1.min.js"></script>
    <script src="vendor/jquery-1.4.4.min.js"></script>
    <script>var $j = jQuery.noConflict(true);</script>
    <script src="vendor/reveal/jquery.reveal.js"></script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/owl-slider/owl.carousel.js"></script>
    <!-- Maps -->
    <script src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7"></script>
    <script src="vendor/gmap3/gmap3.min.js"></script>

    <script src="js/main.js"></script>

</body>

</html>